.row
	.col.s12.card
		.card-content
			span.card-title Delete User
			.row
				.input-field.col.s12
					input(type='email', name='email')#Username
					label(for='deleteuser') Username
			.row
				.input-field.col.s12
					input(type='email', name='confirmemail')#confimuser
					label(for='confirmdelete') Confirm Username
			.row
				.input-field.col.s12
					button(class='btn' type='submit')#form-button-delete Delete User
