.row
	.col.s12.card
		.card-content
			span.card-title Add User
			.row
				.input-field.col.s12
					input(type='email', name='email' class='validate')#adduser
					label(class="" for='newuser') Username
			.row
				.input-field.col.s12
					input(type='text', name='passowrd')#addpassword
					label(class="" for='Password') Type Password
			.row
				.input-field.col.s12
					button(class="btn" type='submit')#form-button-add Add User
