.row
	.col.s12.card
		.card-content
			span.card-title Reset Password
			.row
				.input-field.col.s12
					input(type='email', name='email' class='validate')#resetUser
					label(class="" for='newuser') Username
			.row
				.input-field.col.s12
					input(type='text', name='passowrd')#resetPassword
					label(class="" for='Password') New Password
			.row
				.input-field.col.s12
					button(class="btn" type='submit')#form-button-resetpw Change Password
