extend layout

block content
	include ./admin/usermanagement.jade
	include ./admin/newuser.jade
	include ./admin/deleteuser.jade
	include ./admin/pwchange.jade
	
block scripts
	script(type='text/javascript', src='/js/admincontrol.js')
