extends layout

block content
  .container  
		.row  
			.col.16.offset-13.m12.s12  
				.row  
					p Thank you for your Order, the ENTAG team will be working with your closely with your customer to ensure a successful deployment and integration. We can be contact on 13000ENTAG
