extend layout

block content
	form(role='form', action='/form/test', method='GET')
		h1 Apps Marketplace Order
		.divnameer
		h2 Company Details

		.form-group
			label Company/Sole Trader Name 
			input.form-control(type='text' name='companyName')
		.form-group
			label ABN/ACN
			input.form-control(type='text' name='companyAbn')
		.form-group
			label Address
			input.form-control(type='text' name='companyAddress')
		.form-group
			label City/Suburb
			input.form-control(type='text' name='companySuburb')
		.form-group
			label State
			select.form-control(type='text' name='companyState')
				option(value='Queensland') Queensland
				option(value='New South Wales') New South Wales
				option(value='Victoria') Victoria
				option(value='Australian Capital Territory') Australian Capital Territory
				option(value='South Australia') South Australia
				option(value='Western Australia') Western Australia
				option(value='Northern Territory') Northern Territory
				option(value='Tasmania') Tasmania
		.form-group
			label Postcode
			input.form-control(type='text' name='companyPostcode')
		.form-group
			label Telstra Account Number
			input.form-control(type='text' name='companyAccount')
		.divider

		h2 Primary Contact Details
		.form-group
			label First Name
			input.form-control(type='text' name='contactFirst')
		.form-group
			label Last Name
			input.form-control(type='text' name='contactLast')
		.form-group
			label Email
			input.form-control(type='text' name='contactEmail')
		.form-group
			label Phone Number
			input.form-control(type='text' name='contactPhone')
		.divider

		h2	Technical Contact Details
		.form-group
			div.checkbox
				label
					input(type='checkbox' name='technicalAsAbove')
					span As above?`
		.form-group
			label First Name
			input.form-control(type='text' name='technicalFirst')
		.form-group
			label Last Name
			input.form-control(type='text' name='technicalLast')
		.form-group
			label Email
			input.form-control(type='text' name='technicalEmail')
		.form-group
			label Phone Number
			input.form-control(type='text' name='technicalPhone')
		.divider
		
		h2 Telstra Business Center Rep
		.form-group
			label First Name
			input.form-control(type='text' name='tbcFirst')
		.form-group
			label Last Name
			input.form-control(type='text' name='tbcLast')
		.form-group
			label Email
			input.form-control(type='text' name='tbcEmail')
		.divider
				
		h2 Solutions
		.form-group
			label Software
			select(id='software').form-control
				option(value='Box') Box
				option(value='DocuSign') DocuSign
				option(value='Shoeboxed') Shoeboxed
		.form-group
			label Licence
			select(id='sol-lic-t').form-control
				option(id='soleTrader', value='Sole Trader') Sole Trader
				option(value='Small Business') Small Business
		.form-group
			label Licence Quantity
			select(id='sol-lic-q').form-control
				option(value='1') 1
				option(value='2') 2
				option(value='3') 3
				option(value='4') 4
				option(value='5') 5
				option(value='6') 6
				option(value='7') 7
				option(value='8') 8
				option(value='9') 9
				option(value='10') 10
			
		.divider

		h2 Authorised Telstra Rep
		.form-group
			div.checkbox
				label
					input(type='checkbox' name='contactAuthorised')
					span Authorized on Telstra account?
		.form-group
			label First Name
			input.form-control(type='text' name='appFirst')
		.form-group
			label Last Name
			input.form-control(type='text' name='appLast')
		.form-group
			label Position
			input.form-control(type='text' name='appPosition')
		.form-group
			label Date
			input.form-control(type='text' name='appDate')
		.form-group
			label Signature
			textarea.form-control(rows='5' name='appSignature')
		.divider

		.form-group
		button(class='btn btn-block btn-lg btn-default') submit
			
block scripts
	script(type='text/javascript', src='/js/form.js')
