extends layout

block content
	.container  
		.row  
			.col.16.offset-13.m12.s12  
				.row  
					Thank you for your apps order, the ENTAG team will be working closely with you and your customer to ensure a successful deployment and integration. For any questions we can be contacted on 13000 ENTAG.
				.row
					h4 Click 'new order' to create another customer order
