extend layout

block content
	include ./form/company.jade
	include ./form/primaryContact.jade
	include ./form/technicalContact.jade
	include ./form/tbc.jade
	include ./form/solutions.jade
	include ./form/controls.jade

block scripts
	script(type='text/javascript', src='/js/form.js')
