extend layout

block content
	form(role='form', action='/form/test', method='GET')
		h1 Apps Marketplace Order
		.divnameer
		h2 Company Details

		.form-group
			label Company/Sole Trader Name 
			input.form-control(type='text' name='companyName')
		.form-group
			label ABN/ACN
			input.form-control(type='text' name='companyAbn')
		.form-group
			label Address
			input.form-control(type='text' name='companyAddress')
		.form-group
			label City/Suburb
			input.form-control(type='text' name='companySuburb')
		.form-group
			label State
			input.form-control(type='text' name='companyState')
		.form-group
			label Postcode
			input.form-control(type='text' name='companyPostcode')
		.form-group
			label Billing Account Number
			input.form-control(type='text' name='companyAccount')
		.divider

		h2 User Contact Details
		.form-group
			div.checkbox
				label
					input(type='checkbox' name='contactAuthorised')
					span Authorized on Telstra account?
		.form-group
			label First Name
			input.form-control(type='text' name='contactFirst')
		.form-group
			label Last Name
			input.form-control(type='text' name='contactLast')
		.form-group
			label Email
			input.form-control(type='text' name='contactEmail')
		.form-group
			label Phone Number
			input.form-control(type='text' name='contactPhone')
		.divider

		h2	Technical Contact Details
		.form-group
			div.checkbox
				label
					input(type='checkbox' name='technicalAsAbove')
					span As above?`
		.form-group
			label First Name
			input.form-control(type='text' name='technicalFirst')
		.form-group
			label Last Name
			input.form-control(type='text' name='technicalLast')
		.form-group
			label Email
			input.form-control(type='text' name='technicalEmail')
		.form-group
			label Phone Number
			input.form-control(type='text' name='technicalPhone')
		.divider
		
		h2 TBC Rep
		.form-group
			label Employee Number
			input.form-control(type='text' name='tbcNumber')
		.form-group
			label First Name
			input.form-control(type='text' name='tbcFirst')
		.form-group
			label Last Name
			input.form-control(type='text' name='tbcLast')
		.form-group
			label Email
			input.form-control(type='text' name='tbcEmail')
		.divider
				
		h2 Solutions
		.form-group
			textarea.form-control(rows='5' name='sol')
		.divnameer

		h2 Approval
		.form-group
			label First Name
			input.form-control(type='text' name='appFirst')
		.form-group
			label Last Name
			input.form-control(type='text' name='appLast')
		.form-group
			label Position
			input.form-control(type='text' name='appPosition')
		.form-group
			label Date
			input.form-control(type='text' name='appDate')
		.form-group
			label Signature
			textarea.form-control(rows='5' name='appSignature')
		.divider

		.form-group
		button(class='btn btn-block btn-lg btn-default') submit
			
