<!DOCTYPE html>
<HTML>
	<HEAD>
		<link rel="stylesheet" type="text/css" ref="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	</HEAD>

	<BODY>
		<div class="container">
			<form role="form">
				<h1>Apps Marketplace Order</h1>
				<h2>Company Details</h2>
				<div class="form-group">
					<label>Company/Sole Trader Name</label>
					<input id="company" type="text"></input>
				</div>

				<div class="form-group">
					<label>ABN/ACN</label>
					<input id="ABN" type="text"></input>
				</div>

				<div class="form-group">
					<label>Company Address</label>
					<input id="address" type="text"></input>
				</div>

				<div class="form-group">

				</div>
			</form>
		</div>
	</BODY>
</HTML>

