doctype html
html
	head
		title Entag ordering system
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css')
		link(rel='stylesheet', href='css/login.css')
		link(rel='icon', type='image/png', href='/image/favicon.png')
	body
		.container
			.row
				.col.l6.offset-l3.m12.s12
					.row
						img(src='/image/entag.png' width="100%")					
						include ./login-form.jade
					.row.center
						img(src='/image/box-square.jpg' width='20%' style='padding: 0% 2% 0% 0%')
						img(src='/image/shoeboxed-square.png' width='18%' style='padding: 0% 0% 0% 0%')
						img(src='/image/docusign.png' width='20%' style='padding: 0% 0% 0% 2%')
	script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
	script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
	script(type='text/javascript', src='/lib/notify.min.js')
	script(type='text/javascript', src='/js/login.js')
