.z-depth-1.card
	.card-content
		span.card-title
			img(src='/image/entagwhite.png').brand
		form(action='auth/signin', method='POST')
			.input-field
				input(type='text', name='email', id='email').form-control
				label(for='email') Email
			.input-field
				input(type='password', name='password', id='password').form-control
				label(for='password') Password
			.input-field
				a(href='#') Forgot your password?
				button(type='submit').btn Login
		
