doctype html
html
	head
		title Entag ordering system
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='icon', type='image/png', href='/image/favicon.png')
		link(rel='stylesheet', href='/css/login.css')
	body
		.container-fluid
			.row-fluid
				.col-md-6.col-md-offset-3
					.vcenter
						include ./login-form.jade
