doctype html
html
	head
		title Entag ordering system
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css')
		link(rel='icon', type='image/png', href='/image/favicon.png')
		link(rel='stylesheet', href='/css/login.css')
	body
		.container
			.row
				.col.m6.offset-m3
					include ./login-form.jade
