form(action='auth/signin', method='POST').col.s12#login
	.row
		.input-field.col.s12
			input(type='text', name='email', id='email')
			label(for='email') Email
	.row
		.input-field.col.s12
			input(type='password', name='password', id='password')
			label(for='password') Password
	.row
		.input-field.col.s9
			a(href='#') Forgot your password?
		.input-field.col.s3
			button(type='submit').btn#btn_login Login
	.row
		#notification		
