.navbar-fixed
	nav
		.nav-wrapper
			//a.brand-logo(href='#')
			img(src='/image/entag.png' width="100%" href='#')
			ul.right
				li
					a(href='/') New Order
				li
					a(href='#') 
						span #{user.userId}
				li
					a(href='/auth/signout') Log out
