.navbar-fixed
	nav
		.nav-wrapper
			a.brand-logo(href='#') Entag Orders
			ul.right
				li
					a(href='/') New Order
				li
					a(href='#') 
						span #{user.userId}
				li
					a(href='/auth/signout') Log out
