@import url('http://fonts.googleapis.com/css?family=Roboto')

Red = #ff1744
DarkBlue = #2979ff
Yellow = #ffc400
Green = #00e676
LightBlue = #00afff
Grey = #263238
Black = #000000

html, body
	width 100%
	body 100%

.login-form

.vcenter
	display inline-block
	vertical-align middle
	float none

.panel-default > .panel-heading
	background-color Red

.panel-footer
	background-color Red


.panel-heading > img
	height 32pt

.brand
	font-family 'Roboto'

.brand > span
	font-size 32pt

.e
	color Red

.n
	color DarkBlue

.t
	color Yellow

.a
	color Green

.g
	color LightBlue
