.row
	.col.s12.card
		.card-content
			span.card-title Terms and Conditions
		.row
			.input-field.col.s12
				input(type='text' class='validate')#voiceSig
				label(for='voiceSig') Voice Signature ID
		.row
			blockquote Please ensure all details are true and correct. By submitting this order, I am hereby accepting that I I have blah blah blah
		.row
			.input-field.col.s12
				input(type='checkbox')
				label I confirm all details are true and correct

