.row
	.col.s12.card
		.card-content
			span.card-title Terms and Conditions
			.row
				.input-field.col.s12
					input(type='text' class='validate')#voiceSig
					label(for='voiceSig') Paradise Voice Recording Link
			.row
				blockquote Please ensure all details are true and correct. By submitting this order, I am hereby accepting that I have completed the form to the highest level to ensure that our customer receives the best possible experience.
			.row
				.input-field.col.s12
					input(type='checkbox')#cbAgree
					label(for='cbAgree') I confirm all details are true and correct
