.row
	.col.s12.card
		.card-content
			span.card-title Company
			.row
				.input-field.col.s12
					input(type='text' class='validate' maxlength='25')#companyName
					label(for='companyName') Company/Sole Trader Name
					p Company name is limited to 25 characters
			.row
				.input-field.col.s12
					input(type='number' class='validate' maxlength='11')#companyABN
					label(for='companyABN') ABN/ACN
			.row
				.input-field.col.s6
					input(type='text' class='validate')#companyAddress
					label(for='companyAddress') Address
				.input-field.col.s6
					input(type='text' class='validate')#companySuburb
					label(for='companySuburb') City/Suburb
			.row
				.input-field.col.s6
					input(type='number' class='validate' maxlength='4' )#companyPostcode
					label(for='companyPostcode') Postcode
				.input-field.col.s6
					select#companyState
						option(value="" disabled selected) Select the state
						option(value='Queensland') Queensland
						option(value='New South Wales') New South Wales
						option(value='Victoria') Victoria
						option(value='Australian Capital Territory') Australian Capital Territory
						option(value='South Australia') South Australia
						option(value='Western Australia') Western Australia
						option(value='Northern Territory') Northern Territory
						option(value='Tasmania') Tasmania
					label(for='companyState') State
			.row
				.input-field.col.s12
					input(type='number' maxlength='13' class='validate')#TelstraAccountNumber
					label(for='companyTelstraAcc') Telstra Account Number
