.row
	.col.s12.card
		.card-content
			span.card-title Solutions
			.row
				.input-field.col.s8
					select#solutionsSoftware
						option(value='Box') Box
						option(value='DocuSign') DocuSign
					label(for='solutionsSoftware') Application
				.input-field.col.s4
					select#solutionsQty
						option(value='1') 1
						option(value='2') 2
						option(value='3') 3
						option(value='4') 4
						option(value='5') 5
						option(value='6') 6
						option(value='7') 7
						option(value='8') 8
						option(value='9') 9
						option(value='10') 10
					label(for='solutionsQty') Qty
			.row  
				.input-field.col.s12
						select#solutionsLicence  
							option(value='Kit A') Kit A 
							option(value='Kit B') Kit B
						label(for='solutionsLicence') Integration Kit
			.row
				.input-field.col.s12
					select#supportPackage
						option(value='None') None
						option(value='Support 5 hours') 5 Hours
						option(value='Support 10 hours') 11 Hours
					label(for='supportPackage') Support Kit
