.row
	.col.s12.card
		.card-content
			span.card-title Technical Contact
			.row
				.input-field.col.12
					input(type='checkbox')#technicalCopy
					label(for='technicalCopy') Same as primary?
			.row
				.input-field.col.s6
					input#technicalFirst
					label(for='technicalFirst') First Name
				.input-field.col.s6
					input#technicalLast
					label(for='technicalLast') Last Name
			.row
				.input-field.col.s12
					input#technicalPhone
					label(for='technicalPhone') Phone
			.row
				.input-field.col.s12
					input#technicalEmail
					label(for='technicalEmail') Email
